
<h1>Questions#index</h1>

<% u = @current_user %>

<h3>Preguntas de Jakintero</h3>
<p>Question title:<%= u.questions.last.title %></p>
<p>Question content:<%= u.questions.last.content %></p>

<% @questions.each do |question| %>
		<p> Título:<%= question.title %></p>
		<p> Contenido:<%= question.content %></p>
		<% if current_user.id == question.user.id %>
			<%= link_to 'Borrar', question_path(question),
														method: :delete,
														data: { confirm: 'Are you sure?' } %>
		<% end %>
<% end %>


<ul>
	<td><h3> Preguntas de todos los usuarios:<h3><br></td>
			<td><% @questions.each do |question| %></td>
					<td><p> Título:<%= question.title %></p></td>
					<td><h4> Contenido:<%= question.content %></h4>
			<% end %>
</ul>

<% if user_signed_in? %>
  <a rel="nofollow" data-method="delete" href="/users/sign_out">
  Salir <span class="sr-only"></span></a>
<% end %>
<br>
<%= link_to "Create", new_question_path %>
